<footer>
  <small>
    This project is maintained by <a href="https://szilvesztercsab.github.io">Csaba Szilveszter-Berei</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>
