<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }} « {{ metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <script type="speculationrules">
    {
      "prerender": [
        {
          "eagerness": "eager",
          "where": {
            "href_matches": "/*"
          }
        }
      ]
    }
  </script>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "../../node_modules/@picocss/pico/css/pico.classless.min.css" %}
    {% include "../assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/head.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
